<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270657399178-ojsrn2f3u5nguojvnvjtfgfanbjgidea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270657399178-ojsrn2f3u5nguojvnvjtfgfanbjgidea</string>
	<key>API_KEY</key>
	<string>AIzaSyCu7evw_KSAlODCtWyDjzoTnc8d0yiCk7c</string>
	<key>GCM_SENDER_ID</key>
	<string>270657399178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lareina.Oasis</string>
	<key>PROJECT_ID</key>
	<string>oasis-b045d</string>
	<key>STORAGE_BUCKET</key>
	<string>oasis-b045d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270657399178:ios:18b3cce58808346b28c073</string>
</dict>
</plist>